/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*base line height = 10px*/
a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
a:hover, a:active, a:focus {
    outline: 0;
}
body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1 {
    font-size: 32px;
    line-height: 40px;
    color: #fff;
    margin: 40px 0 10px 0;
}
h2 {
    font-size: 30px;
    line-height: 40px;
    color: #4E63C9;
    margin: 40px 0 30px 0;
    font-weight: 400;
}
h3 {
    font-size: 16px;
    line-height: 20px;
    color: #8298EF;
    margin: 20px 0;
}
h2.white-text, h3.white-text {
    color: #fff;
}
p {
    color: #4A4A4A;
    font-size: 20px;
    line-height: 30px;
    margin: 30px 0;
    font-weight: 300;
    letter-spacing: 0.45px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 30px 0;
}
.command-line {
    font-size: 24px;
    color: #fff;
    line-height: 30px;
    font-family: 'Inconsolata', sans-serif;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.button {
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 64px 0 105px;
    font-size: 16px;
    line-height: 70px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: url(../img/button-git-involved-logo@3x.png) center left no-repeat;
    background-size: 40px 40px;
    background-position: 43px 50%;
    background-color: #F1544B;
}
.button:hover {
    background-color: #CB3B33;
}
img {
    width: 100%;
}
header {
    position: fixed;
    z-index: 9;
    width: 100%;
    pointer-events: none;
     -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
     transform: translateZ(0);
}
#logo {
    font: 0/0 a;
    position: absolute;
    float: left;
    margin: 20px 0;
    opacity: 0;
    -webkit-transition: all 0.22s ease;
    -moz-transition: all 0.22s ease;
    -o-transition: all 0.22s ease;
    transition: all 0.22s ease;
    pointer-events: initial;
}
header p {
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    display: none;
}
#main-menu {
    float: right;
}
#main-menu a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    line-height: 30px;
    padding: 0 18px;
    display: inline-block;
    pointer-events: initial;
}
#main-menu a:hover {
    background-color: rgba(255,255,255,0.25);
}
.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}
.container {
    max-width: 492px;
    margin: 0 auto;
}
.default-gutter {
    padding: 0 20px;
}
.epic-drupal-development {
    padding-top: 60px;
    padding-bottom: 160px;
    position: relative;
    overflow: hidden;
}
.parallax-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url(../img/header-background.jpg) center no-repeat;
    background-size: cover;
    height: 900px;
}
.epic-drupal-development .mask {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.epic-drupal-development h3 {
    margin-bottom: 50px;
}
.epic-drupal-development h3.white-text {
    margin: 10px 0;
}
.band {
    width: 100%;
    position: relative;
}
.mask {
    background: url(../img/mask.png);
}
.center-text {
    text-align: center;;
}
.what-in-the-box {
    text-align: center;
}
.what-in-the-box li {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 40px;
    margin-right: -6px;
}
.what-in-the-box img {
    visibility: hidden;
}
.what-in-the-box li a {
    display: inline-block;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-indent: -999999px;
}
.gray-background {
    background-color: #EFEFEF;
}
.gray-background p {
    max-width: 833px;
}
.no-margin {
    margin: 0;
}
.get-involved {
    position: relative;
    overflow: hidden;
}
.get-involved .wrapper {
    padding-top: 170px;
    padding-bottom: 210px;
}
.get-involved .mask img {
    padding: 0 17px;
}
.valkyrie-background {
    background: url(../img/drawing.png) center top no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 0;
    opacity: 0.6;
}
.get-involved .mask {
    padding: 30px 0 20px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.greater-good-of-mankind, .build-site-like-a-god {
    padding: 20px 0 40px 0;
}
.technology {
    padding: 20px 0 60px 0;
}
.technology p {
    margin: 0;
}
.valkyrie-logo-small {
    max-width: 172px;
}
.valkyrie-logo-large {
    max-width: 429px;
}
.logo-drupal {
    margin-right: 102px;
    background: url(../img/logo-drupal-off@2x.png) center no-repeat;
    background-size: contain;
    width: 92px;
    height: 108px;
}
.logo-drupal:hover {
    background: url(../img/logo-drupal-on@2x.png) center no-repeat;
    background-size: contain;
}
.logo-drush {
    margin-right: 92px;
    background: url(../img/logo-drush-off@2x.png) center no-repeat;
    background-size: contain;
    width: 104px;
    height: 105px;
    visibility: hi;
}
.logo-drush:hover {
    background: url(../img/logo-drush-on@2x.png) center no-repeat;
    background-size: contain;
}

.logo-aegir {
    margin-right: 65px;
    background: url(../img/logo-aegir-off@2x.png) center no-repeat;
    background-size: contain;
    width: 200px;
    height: 73px;
}
.logo-aegir:hover {
    background: url(../img/logo-aegir-on@2x.png) center no-repeat;
    background-size: contain;
}

.logo-git {
    margin-right: 83px;
    background: url(../img/logo-git-off@2x.png) center no-repeat;
    background-size: contain;
    width: 165px;
    height: 70px;
}
.logo-git:hover {
    background: url(../img/logo-git-on@2x.png) center no-repeat;
    background-size: contain;
}

.logo-vagrant {
    background: url(../img/logo-vagrant-off@2x.png) center no-repeat;
    background-size: contain;
    width: 88px;
    height: 110px;
}
.logo-vagrant:hover {
    background: url(../img/logo-vagrant-on@2x.png) center no-repeat;
    background-size: contain;
}
.play-button img {
    max-width: 50px;
}
.fix-image-line-height-issue {
    line-height: 0;
}
.fixed-position-command-line {
    position: fixed !important;
    bottom: auto !important;
    top: 0;
    z-index: 1;
    width: 100%;
     -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
     transform: translateZ(0);
}
#logo.showed-logo {
    opacity: 1;
}
.background-for-header {
    background: url(../img/header-background.jpg) center top no-repeat;
    background-size: cover;
    background-position: 0 100%;
}
.remove-fixed-header-on-responsive {
    position: absolute;
}
.built-by-poetic {
    max-width: 142px;
}
#preloaded-images {
   position: absolute;
   overflow: hidden;
   left: -9999px;
   top: -9999px;
   height: 1px;
   width: 1px;
}
@media (max-width: 768px) {
    header {
        position: absolute;
    }
}
@media (max-width: 610px) {
    .greater-good-of-mankind, .build-site-like-a-god, .technology  {
        padding: 16px 0 26px 0;
    }
    .valkyrie-logo-large {
        max-width: 260px;
    }
    .command-line {
        font-size: 20px;
        line-height: 20px;
    }
    .what-in-the-box {
        padding: 0;
        margin: 0;
    }
    .what-in-the-box li {
        margin-right: 0;
    }
}
@media (max-width: 860px) {
    .what-in-the-box a {
        margin: 0 20px;
    }
}
@media (max-width: 610px) {
    .logo-drupal {
        width: 56px;
        height: 65px;
    }
    .logo-drush {
        width: 64px;
        height: 63px;
    }
    .logo-aegir {
        width: 121px;
        height: 44px;
    }
    .logo-git {
        width: 100px;
        height: 42px;
    }
    .logo-vagrant {
        width: 54px;
        height: 66px;
    }
    .get-involved .wrapper {
        padding-top: 170px;
        padding-bottom: 190px;
    }
}
